[submodule "external/googletest/googletest"]
	path = external/googletest/googletest
	url = https://github.com/google/googletest
[submodule "external/fruit/fruit"]
	path = external/fruit/fruit
	url = https://github.com/google/fruit
